=common-section
    +centerblock($breakpoint0)
    overflow: hidden
    +below($breakpoint2)
        width: 100%

=common-block-title
    font: normal 30px $globalfont
    margin: 20px auto
    padding: 0 15px
    text-transform: uppercase
    border: none !important
    +below($breakpoint1)
        font-size: 20px
    a
        text-decoration: none
        &:hover
            color: $color-secondary
        +below($breakpoint1)
            font-size: 20px

=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block

=common-gradient
    background: linear-gradient(to bottom, $color-secondary, $color-primary)

=common-step-label
    +common-gradient
    font: bold 20px $globalfont
    color: #ffffff
    padding: 10px 20px
    border-radius: 5px
    display: inline-block
    clear: both

=list-as-step
    +nopadmar
    li
        display: table
        div
            +leftblock-h(60px, 100%)
            display: flex
            align-items: center
            span
                +common-gradient
                font: bold 30px/60px $globalfont
                color: #fff
                text-align: center
                display: block
                border-radius: 30px
                width: 100%
        p
            +nopadmar
            display: table-cell
            vertical-align: middle
            padding: 0 30px
            font: 22px/30px $globalfont
            text-align: left
    +below($breakpoint2)
        margin-top: 20px
        li
            height: auto
            margin-bottom: 20px
            div
                width: 40px
                span
                    line-height: 40px
                    font-size: 20px
            p
                font-size: 16px
                line-height: 20px
                padding: 0 0 0 20px

=list-as-step-clickable
    +list-as-step
    li
        margin-bottom: 30px
        cursor: pointer
        &.active
            p
                font-weight: bold
        &:hover
            p
                color: $color-primary

=container-fluid-style
    background: #eee
    padding: 10px 0 50px 0