/*Breakpoints*/
$breakpoint0: 1200px
$breakpoint1: 992px
$breakpoint2: 768px
$breakpoint3: 480px

@font-face
    font-family: myriad
    src: url(../font/myriad.ttf)
@font-face
    font-family: utmpenum
    src: url(../font/utmpenum.ttf)
$globalfont: "myriad"
$titlefont: "utmpenum"

/*Colors*/
$color-primary: #1790AD
$color-secondary: #1CB184
$color-text: #222
