@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "modules"

//SASSY code start from here

h2
    font: 33px $titlefont
    color: $color-primary
    text-align: center
    margin: 40px 0
    +below($breakpoint2)
        font-size: 25px
        margin: 30px 0

body
    background: #fff
.navbar
    background: #fff
.banner
    +above($breakpoint2)
    +common-gradient
    height: 600px
    .container
        color: #fff
        h1
            margin-top: 140px
            text-transform: uppercase
            font: bold 50px $globalfont
            margin-left: 70px
            span
                font: 40px $globalfont
        a
            +opacity-hover
            margin-left: 70px
            font: 30px $globalfont
            color: #fff
            background: #333
            padding: 20px 30px
            margin-top: 30px
            display: inline-block
            border-radius: 50px
            &:hover
                text-decoration: none
        img
            +size(auto,600px)
    +below($breakpoint2)
        height: auto
        .container
            h1
                font-size: 30px
                margin: 20px 0 0 0
                span
                    font-size: 20px

            //Dat hang apple watch
            a
                font: 20px $globalfont
                color: #fff
                background: #333
                padding: 10px 20px
                margin: 10px 0 0 0
                display: inline-block
                border-radius: 20px
                &:hover
                    text-decoration: none
            img
                +size(100%,auto)
.loiich
    margin-top: 50px
    .row
        text-align: center
    img
        +size(40%,auto)
        display: inline-block
    p
        font: 20px/30px $globalfont
        margin-top: 20px
        padding: 10px
    +below($breakpoint2)
        img
            width: 30%
        p
            font-size: 16px
            line-height: 20px
            margin-top: 10px

//Dieu kien
.dieukien
    +container-fluid-style
    margin-top: 50px
    ul
        +list-as-step
        li
            height: 100px
    img
        +size(100%,auto)
    +below($breakpoint2)
        margin-top: 20px
        ul
            li
                height: auto
                margin-bottom: 20px
                div
                    width: 40px
                    span
                        line-height: 40px
                        font-size: 20px
                p
                    font-size: 16px
                    line-height: 20px
                    padding: 0 0 0 20px

//Kiem tra
.kiemtra
    margin-top: 90px
    .step
        +leftblock(15%)
        span
            +common-step-label
    .infor
        +leftblock(85%)
        font: 20px/25px $globalfont
        padding-left: 30px
        padding-top: 5px
    .buoc1
        .infor
            .title
                font: 18px $titlefont
                color: $color-primary
    .buoc2
        margin-top: 20px
        .infor
            padding-right: 30px
            padding-top: 0
            .title
                font: 18px $titlefont
                color: $color-primary
            table
                font-size: 15px
                width: 100%
                text-align: center
                line-height: 25px
                thead
                    line-height: 25px
                    font-weight: bold
                td
                    border: 1px solid #cacaca
                    padding: 0px 5px
    img
        +size(100%,auto)

    +below($breakpoint2)
        margin-top: 30px
        .step
            width: 100%
            span 
                margin-left: 10px
                font-size: 16px
                padding: 5px 10px
        .infor
            padding: 10px
            width: 100%
            font: 16px/20px $globalfont

        .buoc2
            .infor
                padding: 10px
                table
                    font: 13px/22px $globalfont
                    thead
                        line-height: 16px
        
        img
            +size(auto, 400px)
            margin: 0 auto

//Kich hoat
.kichhoat
    +container-fluid-style
    margin-top: 120px
    text-align: center
    background: linear-gradient(to bottom, #eee,#fff)
    .title
        text-align: left
        font: 18px/45px $titlefont
        color: $color-primary
        .step
            +common-step-label
            margin-right: 30px
        +below($breakpoint2)
            font: 16px/20px $globalfont
            .step
                padding: 5px 10px
                font-size: 16px
                margin-right: 10px
    .buoc1
        .row
            margin-top: 50px
            img
                +size(40%,auto)
                display: inline-block
            p
                font: 20px/30px $globalfont
                margin-top: 20px
                padding: 10px

    +below($breakpoint2)
        margin-top: 40px
        padding-bottom: 10px
        .buoc1
            .row
                margin-top: 30px
                img
                    width: 50%
                p
                    font: 16px/20px $globalfont
                    margin-top: 0px

//Kich hoat buoc 2, 3
.kichhoat2
    .title
        text-align: left
        font: 18px/45px $titlefont
        color: $color-primary
        .step
            +common-step-label
            margin-right: 30px
            clear: both
        +below($breakpoint2)
            font: 16px/20px $globalfont
            .step
                float: left
                padding: 5px 10px
                font-size: 16px
                margin-right: 10px
                clear: both
            span
                
    .buoc2
        margin-top: 50px
        ul
            +list-as-step-clickable
            margin-top: 40px
        .slide-container
            .slide
                +size(100%,auto)
                display: none
            .slide1
                display: block
        +below($breakpoint2)
            margin-top: 10px
            padding-bottom: 30px
    .buoc3
        margin-top: 50px
        +below($breakpoint2)
            margin-top: 20px
        ul
            +list-as-step-clickable
            margin-left: 30px
            +below($breakpoint2)
                margin: 30px 0 0 0
        .slide-container
            .slide
                +size(100%,auto)
                display: none
                box-shadow: 0 0 10px rgba(0,0,0,0.3)
            .slide1
                display: block

//Lienhe
.lienhe
    +container-fluid-style
    margin-top: 80px
    text-align: center